*.png
*.PNG
*.jpeg
*.jpg
*.tiff
*.TIF
*.qgz

result_1/
result_test/
result_test_median/
result_testB/
result_train/
result_train_median/
satellite113/
test_data_test/
test_data_test/
test_data_train/
test_data1/
test_final/
test3/
final_result.qgz/